<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Jurrasic World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="navbar-nav ml-auto">
            <a href="/guest" class="nav-link">Play as Guest</a>
            <% if(!currentUser){ %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">register</a>
                <%}else{%>
                    <a href="/logout" class="nav-link">Logout</a>
                    <% } %>

        </div>
    </div>
</nav>