*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}
.bg{
  src: url('../images/bg.png');
  width: 300%;
  height: 100vh;
  position: relative;
  display: block;
  z-index: -1;
  background-repeat: repeat-x;
}
.bgani{
  animation: bgani 7s linear infinite;
}

#start-screen{
  position: absolute;
  background-color: #42f545;
  color:black;
  font-weight: bold;
  top: 40%;
  left: 20%;
  height:50px;
  border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
  font-size: 5vmin;
}

.score{
  font-size: 25px;
    color:#fcdb03;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    height:25px;
}

.avatar{
  src: url('../images/avatar.png');
  position: absolute;
  height: 30%;
  bottom: 1vmin;
  left: 1vmin;
}
.avatarani{
  animation: avatarani 1s;
}

.runani{
  animation: runani 0.8s infinite;
}
.enemy {
  src:url('../images/dragon2.png');
  position: absolute;
  bottom: 1vmin;
  right: 1vmin;
  height: 20%;
}
.enemyani{
  animation: enemyani 4s linear infinite;
}

.hide{
  display: none;
}

@keyframes bgani {
  100%{transform: translateX(-50%);}
}
@keyframes avatarani {
  0%{bottom: 0;}
  50%{bottom: 300px;}
  100%{bottom: 0;}
}
@keyframes enemyani{
  0%{
      left: 100vw;
      content: url('../images/dragon1.png');
  }
  12.5%{
    content: url('../images/dragon2.png');
  }
  25%{
    content: url('../images/dragon1.png');
  }
  37.5%{
    content: url('../images/dragon2.png');
  }
  50%{
    content: url('../images/dragon1.png');
  }
  62.5%{
    content: url('../images/dragon2.png');
  }
  75%{
    content: url('../images/dragon1.png');
  }
  87.5%{
    content: url('../images/dragon2.png');
  }
  100%{
      left: -10vw;
      content: url('../images/dragon1.png');
  }
}
@keyframes dragonrun {
  0%{
    content: url('../images/dragon1.png');
  }
  100%{
    content: url('../images/dragon2.png');
  }
}
@keyframes runani {
  0%{
    content: url("../images/CHARACTER-3.png");
  }
  25%{
    content: url("../images/CHARACTER-4.png");
  }
  50%{
    content: url("../images/CHARACTER-5.png");
  }
  75%{
    content: url("../images/CHARACTER-6.png");
  }
  100%{
    content: url("../images/CHARACTER-1.png");
  }
}
